body {
    background-color: rgb(242, 243, 242);
  }
  
  .topnav {
    overflow: hidden;
    padding-bottom: 1vw;
    margin-bottom: 0.5vw;
  }
  
  .topnav a {
    text-align: center;
    color: royalblue;
    font-size: 5vw;
  }

  .topnav a:hover {
    background-color: royalblue;
    color: white;
  }
  
  .topnav a.active{
    background-color: royalblue;
    color: white;
  }

  .banner {
    background-color: royalblue;
    color: white;
    text-align: center;
    padding: 1vw;
    margin-bottom: 0.5vw;
  }


  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .grid-what {
    background-color: white;
  }

  .grid-how {
    background-color: white;
  }

  .grid-join {
    background-color: white;
  }
