body {
    background-color: rgb(242, 243, 242);
  }
  
  .topnav {
    overflow: hidden;
    padding-bottom: 5vw;
    margin-bottom: 1vw;
    position: absolute;
    right: 0;
    top: 4vw;
  }
  
  .topnav a {
    text-align: center;
    color: royalblue;
    font-size: 4vw;
    padding: 3vw;
  }

  .topnav a:hover {
    background-color: royalblue;
    color: white;
  }
  
  .topnav a.active{
    background-color: royalblue;
    color: white;
  }

  .logo-img{
    width: 10vw;
    height:8vw;
    position: relative;
    left: 0;
    top: 0;
  }

  .banner {
    background-color: royalblue;
    color: white;
    text-align: center;
    width: 100%;
    padding: 1vw;
    margin-bottom: 2vw;
    }


  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;;
  }

  .grid-home {
    background-color: white;
    padding: 1vw;
  }

  .footer-bottom {
    background-color: royalblue;
    text-align: center;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
  }